{{/* Custom home page layout with full-width and content-width sections */}}

{{/* Full-width hero slider section */}}
<div class="force-full-width">
{{- if .Params.slider -}}
<div style="margin-top: -135px;">
  {{ partial "slider.html" . }}
</div>
{{- end -}}


<div class="flex sm:flex-row flex-col border">
  <div class="h-full bg-pattern-orange p-4 md:px-24 lg:px-32 border">
    {{ partial "prayer-times.html" . }}
  </div>
  <div class="h-[100%] w-full bg-pattern-mosqueue border" >
    <div class="px-6 h-full flex flex-col justify-center max-w-prose pt-4">
    {{ with.Title }}  
    <header>
      <h1 class="font-semibold text-2xl text-heading">{{ . | emojify }}</h1>
    </header>
    {{ end }}
  

    <section class="text-content">
      The Islamic Society was established in 2000 to cater for the needs of
      the Muslim society on the Cayman Islands. As well as a place of worship,
      it is a community hub, providing education for children and adult as
      well as social events and activities. A wide range of services are
      offered here such as counselling and other social services. It also
      presents the true teachings of Islam as a religion of tolerance,
      cooperation and peaceful harmony amongst all people who lead a life of
      balance, justice and mutual respect.
    </section>
  </div>
  </div>
</div>
</div>


{{/* Content-width sections */}}
<div class="content-wrapper mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  {{/* Main content article */}}
  <article class="prose max-w-none dark:prose-invert py-8">
    <section>{{ .Content | emojify }}</section>
  </article>

  {{/* Recent articles section */}}
  <section class="py-8">
    {{ partial "recent-articles.html" . }}
  </section>
</div>
<style>
  .bg-pattern-mosqueue {
    background-image: url('/img/bg-16.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
